In [39]:
from pyspark import SparkContext
from pyspark.sql import SparkSession

In [42]:
sc = SparkContext(master="local", appName="transformacionesYAcciones")

In [43]:
rdd1 = sc.parallelize([1,2,3])
type(rdd1)

pyspark.rdd.RDD

In [44]:
sc

In [10]:
!ls 'files'

deporte.csv
deportista.csv
deportista2.csv
deportistaError.csv
evento.csv
juegos.csv
modelo_relacional.jpg
paises.csv
resultados.csv

In [51]:
equiposOlimpicosRDD = sc.textFile('files/paises.csv').map(lambda line: line.split(','))

In [20]:
equiposOlimpicosRDD.take(15)

[['id', 'equipo', 'sigla'],
 ['1', '30. Februar', 'AUT'],
 ['2', 'A North American Team', 'MEX'],
 ['3', 'Acipactli', 'MEX'],
 ['4', 'Acturus', 'ARG'],
 ['5', 'Afghanistan', 'AFG'],
 ['6', 'Akatonbo', 'IRL'],
 ['7', 'Alain IV', 'SUI'],
 ['8', 'Albania', 'ALB'],
 ['9', 'Alcaid', 'POR'],
 ['10', 'Alcyon-6', 'FRA'],
 ['11', 'Alcyon-7', 'FRA'],
 ['12', 'Aldebaran', 'ITA'],
 ['13', 'Aldebaran II', 'ITA'],
 ['14', 'Aletta', 'IRL']]

In [21]:
equiposOlimpicosRDD.map(lambda x: x[2]).distinct().count()

231

In [25]:
equiposOlimpicosRDD.map(lambda x: (x[2], x[1])).groupByKey().mapValues(len).take(5)

[('sigla', 1), ('AUT', 11), ('MEX', 9), ('ARG', 18), ('AFG', 1)]

In [26]:
equiposOlimpicosRDD.map(lambda x: (x[2], x[1])).groupByKey().mapValues(list).take(5)

[('sigla', ['equipo']),
 ('AUT',
  ['30. Februar',
   'Austria',
   'Austria-1',
   'Austria-2',
   'Breslau',
   'Brigantia',
   'Donar III',
   'Evita VI',
   'May-Be 1960',
   '"R.-V. Germania; Leitmeritz"',
   'Surprise']),
 ('MEX',
  ['A North American Team',
   'Acipactli',
   'Chamukina',
   'Mexico',
   'Mexico-1',
   'Mexico-2',
   'Nausikaa 4',
   'Tlaloc',
   'Xolotl']),
 ('ARG',
  ['Acturus',
   'Antares',
   'Arcturus',
   'Ardilla',
   'Argentina',
   'Argentina-1',
   'Argentina-2',
   'Blue Red',
   'Covunco III',
   'Cupidon III',
   'Djinn',
   'Gullvinge',
   'Matrero II',
   'Mizar',
   'Pampero',
   'Rampage',
   'Tango',
   'Wiking']),
 ('AFG', ['Afghanistan'])]

In [52]:
equipos_argentinos = equiposOlimpicosRDD.filter(lambda l: "ARG" == l[2])
equipos_argentinos.collect()

[['4', 'Acturus', 'ARG'],
 ['37', 'Antares', 'ARG'],
 ['42', 'Arcturus', 'ARG'],
 ['43', 'Ardilla', 'ARG'],
 ['45', 'Argentina', 'ARG'],
 ['46', 'Argentina-1', 'ARG'],
 ['47', 'Argentina-2', 'ARG'],
 ['119', 'Blue Red', 'ARG'],
 ['238', 'Covunco III', 'ARG'],
 ['252', 'Cupidon III', 'ARG'],
 ['288', 'Djinn', 'ARG'],
 ['436', 'Gullvinge', 'ARG'],
 ['644', 'Matrero II', 'ARG'],
 ['672', 'Mizar', 'ARG'],
 ['774', 'Pampero', 'ARG'],
 ['843', 'Rampage', 'ARG'],
 ['1031', 'Tango', 'ARG'],
 ['1162', 'Wiking', 'ARG']]

In [53]:
equiposOlimpicosRDD.count()

1185

In [30]:
equiposOlimpicosRDD.countApprox()

1185

In [31]:
!ls 'files'

deporte.csv
deportista.csv
deportista2.csv
deportistaError.csv
evento.csv
juegos.csv
modelo_relacional.jpg
paises.csv
resultados.csv

In [48]:
deportista_olimpico_rdd = sc.textFile('files/deportista.csv').map(lambda l: l.split(','))
deportista_olimpico_rdd2 = sc.textFile('files/deportista2.csv').map(lambda l: l.split(','))

In [49]:
deportista_olimpico_rdd = deportista_olimpico_rdd.union(deportista_olimpico_rdd2)

In [74]:
deportista_olimpico_rdd.top(5)

[['deportista_id', 'nombre', 'genero', 'edad', 'altura', 'peso', 'equipo_id'],
 ['99999', 'Alexander Grant Alick Rennie', '1', '32', '182', '71', '967'],
 ['99998', 'Robert John Bob Renney', '1', '21', '178', '90', '66'],
 ['99997', 'Thomas Renner', '1', '24', '183', '86', '71'],
 ['99996', 'Sara Renner', '2', '21', '168', '63', '174']]

In [50]:
deportista_olimpico_rdd.count()

135572

In [55]:
deportista_olimpico_rdd.top(2)

[['deportista_id', 'nombre', 'genero', 'edad', 'altura', 'peso', 'equipo_id'],
 ['99999', 'Alexander Grant Alick Rennie', '1', '32', '182', '71', '967']]

In [54]:
equiposOlimpicosRDD.top(2)

[['id', 'equipo', 'sigla'], ['999', 'Stella-2', 'NOR']]

In [75]:
deportista_olimpico_rdd.map(lambda l: [l[-1], l[:-1]]).join(equiposOlimpicosRDD.map(lambda x: [x[0], x[2]])).takeSample(False, 6, 42)

[('980',
  (['97228', 'Oleg Alekseyevich Protopopov', '1', '27', '175', '71'], 'URS')),
 ('174', (['36141', 'Peter Joseph Fonseca', '1', '29', '172', '55'], 'CAN')),
 ('507', (['11242', 'Diana Bianchedi', '2', '22', '158', '46'], 'ITA')),
 ('413', (['118900', 'James Jack Taylor', '1', '24', '0', '0'], 'GBR')),
 ('1065', (['98251', 'Julieon Raeburn', '1', '21', '188', '82'], 'TTO')),
 ('259', (['62226', 'Jan Koller', '1', '34', '0', '0'], 'TCH'))]

In [60]:
resultado = sc.textFile("files/resultados.csv").map(lambda l: l.split(","))

In [62]:
resultado.take(5)

[['resultado_id', 'medalla', 'deportista_id', 'juego_id', 'evento_id'],
 ['1', 'NA', '1', '39', '1'],
 ['2', 'NA', '2', '49', '2'],
 ['3', 'NA', '3', '7', '3'],
 ['4', 'Gold', '4', '2', '4']]

In [64]:
resultado_ganadores = resultado.filter(lambda l: "NA" not in l[1])

In [79]:
deportista_olimpico_rdd.top(3)

[['deportista_id', 'nombre', 'genero', 'edad', 'altura', 'peso', 'equipo_id'],
 ['99999', 'Alexander Grant Alick Rennie', '1', '32', '182', '71', '967'],
 ['99998', 'Robert John Bob Renney', '1', '21', '178', '90', '66']]

In [80]:
equiposOlimpicosRDD.top(2)

[['id', 'equipo', 'sigla'], ['999', 'Stella-2', 'NOR']]

In [84]:
deportista_olimpico_rdd.map(lambda l : [l[-1],l[:-1]]).join(equiposOlimpicosRDD.map(lambda l : [l[0],l[2]])).top(5)

[('999', (['92679', 'Trygve Bjarne Pedersen', '1', '35', '0', '0'], 'NOR')),
 ('999', (['1144', 'Henrik Agersborg', '1', '47', '0', '0'], 'NOR')),
 ('999', (['10765', 'Einar Berntsen', '1', '28', '0', '0'], 'NOR')),
 ('998',
  (['111659', 'G. Bernard Bernie Skinner', '1', '34', '182', '82'], 'CAN')),
 ('996', (['116030', 'Edward Eddy Stutterheim', '1', '39', '0', '0'], 'NED'))]

In [65]:
resultado_ganadores.take(5)

[['resultado_id', 'medalla', 'deportista_id', 'juego_id', 'evento_id'],
 ['4', 'Gold', '4', '2', '4'],
 ['38', 'Bronze', '15', '7', '19'],
 ['39', 'Bronze', '15', '7', '20'],
 ['41', 'Bronze', '16', '50', '14']]

In [76]:
deportista_pais = deportista_olimpico_rdd.map(lambda l:[l[-1], l[:-1]]).join(equiposOlimpicosRDD.map(lambda x:[x[0], x[2]]))

In [77]:
deportista_pais.take(5)

[('199', (['1', 'A Dijiang', '1', '24', '180', '80'], 'CHN')),
 ('199', (['2', 'A Lamusi', '1', '23', '170', '60'], 'CHN')),
 ('199', (['602', 'Abudoureheman', '1', '22', '182', '75'], 'CHN')),
 ('199', (['1463', 'Ai Linuer', '1', '25', '160', '62'], 'CHN')),
 ('199', (['1464', 'Ai Yanhan', '2', '14', '168', '54'], 'CHN'))]

In [92]:
paises_medallas = (deportista_olimpico_rdd
           .map(lambda l : [l[-1],l[:-1]]) 
           .join(equiposOlimpicosRDD.map(lambda l : [l[0],l[2]]))
           .map(lambda l : (l[1][0][0], (l[0],l[1][0][1:],l[1][1]))) 
           .join(resultado_ganadores.map(lambda l : [l[2],l[1]])))

In [93]:
paises_medallas.top(5)

[('99996',
  (('174', ['Sara Renner', '2', '21', '168', '63'], 'CAN'), 'Silver')),
 ('99992',
  (('399', ['Karlheinz Heinz Renneberg', '1', '25', '182', '87'], 'GER'),
   'Gold')),
 ('9999', (('477', ['Ferenc Bene', '1', '19', '170', '70'], 'HUN'), 'Gold')),
 ('99988',
  (('302', ['Silke Renk Lange ', '2', '21', '173', '75'], 'GDR'), 'Gold')),
 ('99984',
  (('1117', ['Alphonse Renier', '1', '0', '0', '0'], 'BEL'), 'Bronze'))]

In [78]:
medals_values = {
    'Gold': 7,
    'Silver': 5,
    'Bronze': 4
}

In [98]:
paises_medallas = paises_medallas.map(lambda x: (x[1][0][-1], medals_values[x[1][1]]))

In [100]:
from operator import add

conclusion = paises_medallas.reduceByKey((add)).sortBy(lambda x: x[1], ascending=False)

In [101]:
conclusion.take(10)

[('USA', 32137),
 ('URS', 14834),
 ('GBR', 10925),
 ('GER', 10896),
 ('FRA', 9265),
 ('ITA', 8755),
 ('SWE', 8110),
 ('CAN', 7209),
 ('AUS', 6755),
 ('HUN', 6142)]

In [41]:
sc.stop()